// Navigation code here
.navigation {
	.flexr();
	justify-content: center;
	padding: 2vh 2vw;
}

.nav-item {
	font-family: 'Ubuntu', sans-serif;
	text-decoration: none;
	font-size: 1.6rem;
	color: @header-font-color;
	margin: 0 2vw;
}

	
	.major {
		text-align: center;
		font-size: @font-size-h1;
		margin-top: 2vh;
	}
	
.main-header {
	border-radius: 5px;
}

